@font-face {
    font-family:'LT Avocado';
    src:url('https://cloud-mjfvixv18-hack-club-bot.vercel.app/0ltavocado-regular.ttf');
}

@font-face {
    font-family: 'Phantom Sans';
    src: url('https://cloud-f2j4cdqpr-hack-club-bot.vercel.app/0trial_phantomsans0.8-medium-bf65a9d4ced06ad.ttf');
}

h1 {font-size: 3vw;font-family: 'LT Avocado',sans-serif;}
h2 {font-size:2vw;font-family: 'LT Avocado',sans-serif;}
p {font-size:1.5vw;text-shadow: 1.5px 1.5px 0 #6369D1;}
p:hover {
    text-shadow:1px 1px 0.5px #6369D1;
}
* {background-color: #1F2232;color:#EFF1F3;font-family: "Phantom Sans",sans-serif ; text-align: center;
}


img#icon {margin:auto;width:15vw;padding:0%;border:0%;}


#projects-container {display:flex;  flex-direction: row;justify-content: center;}
.project {padding:2vw;margin:1vw;  border: 0.25vw solid #6369D1;border-radius: 2vw;
}